:host{
    --width: 500px;
    position: relative; /* relative position so button can use absolute */
}

.settingsPane{
    height: 100%;
    width: 0;
    overflow: hidden;
    transition: width 0.25s ease;
}

.expanded,
.embeddedPane{
    height: 100%;
    width: var(--width);
}

button{
    all: unset;
    cursor: pointer;
    display: block;
    height: fit-content;
    width: fit-content;

    position: absolute;
    top: 10px;
    left: -40px; /* negative "pulls" towards the left. */
}

.settings{
    transition: opacity 0.25s ease;
}
.settings:hover{
    transition: transform 0.7s ease-in-out;
    transform: rotate(180deg);
}

.invisible
{
    opacity: 0;
}