<button #toggle class="anchor img-button" (click)="onClicked()">
    @if(!isExpanded)
    {
        <img src="assets/Settings.svg" alt="Settings" class="settings" [class.invisible]="!isVisible"/>
    }
    @else
    {
        <img src="assets/ArrowForward.svg" alt="Collapse" />
    }
</button>

<div class="resizePane" [class.expanded]="isExpanded">
    <!-- Only load expandable when necessary. Uses Templates as Content Projection still loads prior to @defer -->
    @defer(on interaction(toggle))
    {
        <div class="embeddedPane">
            <ng-container *ngTemplateOutlet="content" />
        </div>
    }
</div>