<!-- Cannot assign formGroup directive to host, therefore we need a div container. -->
<div class="flex-col">
    <label [for]="formID()">{{label()}}</label>
    @switch(type())
    {
        @case("number")
        {
            <input [id]="formID()" type="number" [formControl]="control()" step="any" appInputNumberOnly/>
        }
        @case("textarea")
        {
            <textarea [formControl]="control()"></textarea>
        }
        @default
        {
            <input [id]="formID()" [type]="type()" [formControl]="control()" />
        }
    }
</div>