<!-- Cannot assign formGroup directive to host, therefore we need a div container. -->
<div class="flex-col">
    <label [for]="id()">{{label()}}</label>
    @if(content)
    {
        <ng-container *ngTemplateOutlet="content; context: {id: id, control: control()}" />
    }
    @else if(control()) 
    {
        @switch(type())
        {
            @case("number")
            {
                <input type="number" [id]="id()" [formControl]="control()" step="any" appInputNumberOnly/>
            }
            @case("textarea")
            {
                <textarea [id]="id()" [formControl]="control()"></textarea>
            }
            @default
            {
                <input [id]="id()" [type]="type()" [formControl]="control()" />
            }
        }
    }
</div>