:host{
  --borderRadius: 10px;
}

.nameArea{
  border-top-right-radius: var(--borderRadius);
  border-top-left-radius: var(--borderRadius);
  max-width: 100%;
  background-color: rgb(40, 59, 66);

  display: flex;

  box-sizing: border-box;
  padding: 5px 10px 5px 10px;
}

img{
  width: 24px;
  height: 24px;
}

.nameField{
  all: unset;
  flex: 1;
  font-size: 1.3rem;
  color: white;
  background-color: rgb(40, 59, 66);
  min-width: 0; /*Flex causes min-width: auto, which result in block displays from taking up the full width.*/
}

.configArea{
    border-bottom-right-radius: var(--borderRadius);
    border-bottom-left-radius: var(--borderRadius);

    display: flex;
    flex-flow: column;
    gap: 10px;

    max-width: 100%;
    height: fit-content;

    box-sizing: border-box;
    padding: 10px;

    background-color: lightblue;
}

.actionBar{
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}