<form class="flex-col" [formGroup]="configForm">
    <div class="nameArea">
        <input #nameField class="nameField" type="text" formControlName="name" />
        <button class="img-button item-center" (click)="selectName()">
            <img src="assets/Pencil.svg" alt="Edit"/>
        </button>
    </div>
    <div class="configArea">
        <div class="inputRow">
            <app-input-field-label #typeField label="Type">
                <select [id]="typeField.id" [formControl]="configForm.controls.type">
                    @for(type of logoTypes; track $index)
                    {
                        <option [value]="type">{{type}}</option>
                    }
                </select>
            </app-input-field-label>
            <app-input-field-number [control]="configForm.controls.quantity" label="Qty" [min]="1" [max]="999" [decimals]="false"/>
            @switch(logoModel().type)
            {
                @case("text") 
                {
                    <app-input-field-number [control]="configText.controls.fontSize" label="Font Size" [step]="5" />
                }
            }
        </div>
        @switch(logoModel().type)
        {
            @case("text") 
            {
                <app-input-field-label #displayText label = "Display Text">
                    <textarea [id]="displayText.id" [formControl]="configText.controls.displayText"></textarea>
                </app-input-field-label>
            }
            @case("image")
            {
                <app-input-field-file-drop (uploaded)="uploadFile($event)" />
                <app-input-field-slider label="Color Opacity" [control]="configImage.controls.colorOpacity" [step]="0.05" [min]="0" [max]="1"/>
                <div class="inputRow">
                    <app-input-field-number label="Width" [control]="configImage.controls.width" [step]="5" [min]="1" />
                    <app-input-field-number label="Height" [control]="configImage.controls.height" [step]="5" [min]="1" />
                    <app-input-field-label>
                        <button class="img-button item-center" [class.toggledOff]="!lockRatio" (click)="toggleAspectRatio()">
                            <img src="assets/AspectRatio.svg" alt="Toggle Aspect Ratio"/>
                        </button>
                    </app-input-field-label>
                </div>
            }
        } 
        <div class="inputRow">
            <app-input-field-number label="Speed" [control]="configForm.controls.speed" [step]="5" [max]="99999"/>
            <app-input-field-number label="Bounce Variance" [control]="configForm.controls.bounceVariance" [step]="1" [min]="-20" [max]="20" />
        </div>

    </div>
    <div class="actionBar">
        @if(logoCache.logos.length > 1)
        {
            <button class="img-button item-center" (click)="deleteLogo()">
                <img src="assets/Remove.svg" alt="Remove"/>
            </button>
        }
        <button class="img-button item-center" (click)="createNewLogo()">
            <img src="assets/Add.svg" alt="Add"/>
        </button>
        <button class="img-button item-center" (click)="cloneLogo()">
            <img src="assets/Copy.svg" alt="Copy"/>
        </button>
    </div>
</form>