<form class="flex-col" [formGroup]="configForm">
    <div class="nameArea">
        <input #nameField class="nameField" type="text" formControlName="name" />
        <button class="img-button item-center" (click)="selectName()">
            <img src="assets/Pencil.svg" alt="Edit"/>
        </button>
    </div>
    <div class="configArea">
        <div class="inputRow">
            <div class="flex-col">
                <label for="typeField">Type</label>
                <select id="typeField" formControlName="type">
                    @for(type of logoTypes; track $index)
                    {
                        <option [value]="type">{{type}}</option>
                    }
                </select>
            </div>
        </div>

        @switch(logoModel().type)
        {
            @case("text") 
            {
                <app-input-field type="textarea" [control]="getControl('displayText','typeConfig')" label="Display Text"/>
                <app-input-field type="number" [control]="getControl('fontSize','typeConfig')" label="Font Size"/>
            }
            @case("image")
            {
                <div class="inputRow">
                    <app-input-field type="number" [control]="getControl('width','typeConfig')" label="Width"/>
                    <app-input-field type="number" [control]="getControl('height','typeConfig')" label="Height"/>
                </div>
            }
        } 
        <app-input-field type="number" [control]="getControl('speed')" label="Speed"/>
        <app-input-field type="number" [control]="getControl('bounceVariance')" label="Bounce Variance"/>
    </div>
    <div class="actionBar">
        @if(logoCache.logos.length > 1)
        {
            <button class="img-button item-center" (click)="deleteLogo()">
                <img src="assets/Remove.svg" alt="Remove"/>
            </button>
        }
        <button class="img-button item-center" (click)="createNewLogo()">
            <img src="assets/Add.svg" alt="Add"/>
        </button>
        <button class="img-button item-center" (click)="cloneLogo()">
            <img src="assets/Copy.svg" alt="Copy"/>
        </button>
    </div>
</form>