<div class="flex">
    <div #viewport class="viewport" [style.background-color]="backgroundColor">
        @for(logo of cache.logos; track logo.id)
        {
            @for(i of [].constructor(logo.quantity); track $index)
            {
                <app-dvd-logo [speed]="logo.speed" [bounceVariance]="logo.bounceVariance">
                    @switch (logo.type)
                    {
                        @case("text") 
                        {
                            <app-logo-text [text]="logo.typeConfig.displayText" [fontSize]="logo.typeConfig.fontSize"/>
                        }
                        @case("image")
                        {
                            <app-logo-image 
                                [filePath]="logo.typeConfig.fileSource" 
                                [width]="logo.typeConfig.width" 
                                [height]="logo.typeConfig.height" 
                                [colorOpacity]="logo.typeConfig.colorOpacity"/>
                        }
                    } 
                </app-dvd-logo>
            }
        }
    </div>
    <app-collapsible>
        <ng-template #content>
            <app-options-pane (colorModelChange)="setBackground($event)"/>
        </ng-template>>
    </app-collapsible>
</div>