<div class="flex">
    <div #viewport class="viewport">
        @for(logo of cache.logos; track $index)
        {
            <app-dvd-logo [speed]="logo.speed" [bounceVariance]="logo.bounceVariance">
                @switch (logo.type)
                {
                    @case("text") 
                    {
                        <app-logo-text [text]="logo.typeConfig.displayText" [size]="logo.typeConfig.fontSize"/>
                    }
                    @case("image")
                    {
                        <app-logo-svg [filePath]="logo.typeConfig.fileSource" [size]="logo.typeConfig.width"/>
                    }
                } 
            </app-dvd-logo>
        }
    </div>
    <app-collapsible>
        <app-options-pane />
    </app-collapsible>
</div>