.img-button{
    all: unset;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}
.img-button > img{
    display: block;
}

.item-center{
    align-self: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

/* Mimics scroll-gutter for Firefox*/
@supports(-moz-orient:initial)
{
  .scroll {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.scroll{
    overflow: auto;
    scrollbar-gutter: stable both-edges;
    scrollbar-width: thin;
}