/*GLOBAL CHANGES*/
*,
*::before,
*::after{
    box-sizing: border-box;
}

/* FONTS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

/* MAIN WEB */
html {
    background-color: black;
}

body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

/* REUSABLE CSS */
.img-button{
    all: unset;
    cursor: pointer;
}
.img-button > img{
    display: block;
}
.img-button.toggledOff{
    opacity: 0.5;
}

.scroll{
    overflow: auto;
    scrollbar-gutter: stable both-edges;
    scrollbar-width: thin;
}

.fit-parent{
    width: 100%;
    height: 100%;
}

/* FLEX */
.center-items{
    align-items: center;
}

.flex-col{
    display: flex;
    flex-flow: column;
    justify-content: start;
}

.flex-row{
    display: flex;
    flex-flow: row;
    justify-content: start;
}

.justify-space-between{
    justify-content: space-between;
}

.item-center{
    align-self: center;
}

.item-grow{
    flex-grow: 1;
}