:host{
    --dashPadding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    outline: 5px dashed rgb(69, 69, 69);
    outline-offset: calc(var(--dashPadding) * -1);

    padding: var(--dashPadding);
    
    background-color: white;

    & > *{
        padding: 8px;
    }
}

h1{
    all: unset;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
}

.configBoxHolder{
    display: flex;
    flex-flow: column;
    gap: 10px;

    flex: 1;
}

.resetButton{
    all: unset;

    cursor: pointer;
    align-self: center;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    width: 65%;

    background-color: rgb(222, 66, 66);
    color: white;

    padding: 10px;
    margin: 10px 0px;
}
.resetButton:hover{
    background-color: rgb(127, 45, 45);
}